# Default number of objects per page
PER_PAGE = 9

# Django secret key
SECRET_KEY = 'CHANGE-ME'

# 0 = FALSE, 1 = TRUE
DEBUG = 0

# 0 = FALSE, 1 = TRUE
SELENIUM_HEADLESS = 1

# Database settings
# Sqlite
DATABASE_ENGINE = 'django.db.backends.sqlite3'
DATABASE_NAME = "./db.sqlite3"

# Postgres
# DATABASE_ENGINE = 'django.db.backends.postgresql'
# DATABASE_NAME = 'basededados'

DATABASE_USER = "CHANGE-ME"
DATABASE_PASSWORD = "CHANGE-ME"
DATABASE_HOST = "CHANGE-ME"
DATABASE_PORT = "CHANGE-ME"
