{% extends "global/base.html" %}
{% block title %}Profile | {% endblock title %}

{% block content %}
    <div class="main-content center container">
        <h2>
            {% if profile.author.get_full_name %}
                {{ profile.author.get_full_name }}
            {% else %}
                {{ profile.author.username }}
            {% endif %}
        </h2>

        <div class="profile-cover m-y">
            <img src="{{ profile.profile_cover.url }}" alt="{{ profile.author.username }}">
        </div>

        <p>{{ profile.bio }}</p>
    </div>
{% endblock content %}
